<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Study Connect</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Study Connect</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path , class:"active" %></li>
        <li><%= link_to "about", home_about_path %></li>
        <li><%= link_to "Contact", home_contact_path%></li>
        <li><%= link_to "会員登録" , new_user_registration_path %></li>
        <li><%= link_to "ログイン" , new_user_session_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>