<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Study Connect</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to post_studys_path , class:"navbar-brand" do%>
        Study Connect
      <% end %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "タイムライン", post_studys_path %></li>
        <li><%= link_to "新規投稿", new_post_study_path %></li>
        <li><%= link_to "マイページ", user_path(current_user.id) %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path , method: :delete %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>